{:paths ["."]
 :deps {org.clojure/data.json {:mvn/version "2.4.0"}
        org.babashka/http-client {:mvn/version "0.4.22"}
        io.github.200ok-ch/shell-smith
        {:git/sha "7f9b74669ce2eabaed6dfba5ba7ed9ec449296a5"}}
 :bbin/bin {json-patcher {:main-opts ["-m" "json-patcher"]}}}
