{:paths ["."]
 :deps {org.clojure/data.json {:mvn/version "2.4.0"}
        org.babashka/http-client {:mvn/version "0.4.22"}
        io.github.200ok-ch/shell-smith
        {:git/sha "1ae2822a55d493774c48df25c9d00aaab251beec"}}}
